.filters {
  background-color: #fff;
}

.filters__title {
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}

.filter {
  position: relative;

  &__inner {
    height: 0;
    margin-bottom: 10px;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 50px;

      display: inline-block;
      width: 20px;
      height: 20px;

      background-image: url("../images/icon-arrow-filter.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.active &__inner {
    height: 100%;
    overflow: visible;
  }

  &.active &__inner:before {
    transform: rotate(180deg);
  }

  &__title {

    display: block;
    width: 100%;
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 16px;

    cursor: pointer;
  }

  &.active &__title {
    color: #ED413C;
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__checkbox-list {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;

    label {
      display: block;
    }

    span {
      color: #999999;
    }
  }

  &__checkbox-btn {
    position: relative;

    display: inline-block;
    padding-left: 27px;
  }

  &__checkbox-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 17px;
    height: 17px;

    background: #FFFFFF;
    border: 2px solid #DAE1E7;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"]:checked + &__checkbox-btn:before {
    background: #ED413C url("../images/icon-checkbox.svg") no-repeat center;
    border: none;
  }
}

.filters-btn {
  display: none;
}

@media (max-width: 768px) {
  .filters {
    // display: none;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: -1000px;
    transition: 0.5s;
    z-index: 2;
  }

  .filters.active {
    // display: block;
    left: 0;
    transition: 0.5s;
  }

  .filters__title {
    display: none;
  }

  .filters-btn {
    display: inline-block;
    margin-right: auto;

    // display: inline-block;
    // height: 50px;
    padding: 15px 20px;
    // margin: 0 10px 20px 0;

    font-size: 16px;
    font-weight: 500;
    border: 1px solid #DAE1E7;
    border-radius: 10px;
  }
}