</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-3">
        <a href="/" class="navbar-brand">
          <img src="images/logo-footer.png" alt="Japan Ichiban">
        </a>
      </div>
      <div class="col-md-4">
        <ul class="footer-nav">
          <li class="nav-item">
            <a href="/catalog.html" class="nav-link">Продукция</a>
          </li>
          <li class="nav-item">
            <a href="/about.html" class="nav-link">О компании</a>
          </li>
          <li class="nav-item">
            <a href="/delivery.html" class="nav-link">Оплата и доставка </a>
          </li>
          <li class="nav-item">
            <a href="/for-partners.html" class="nav-link">Партнерам</a>
          </li>
          <li class="nav-item">
            <a href="/articles.html" class="nav-link">Статьи</a>
          </li>
          <li class="nav-item">
            <a href="/contacts.html" class="nav-link">Контакты</a>
          </li>
        </ul>
      </div>

      <ul class="nav-contacts col-md-3 ml-auto">
        <li class="nav-contacts-link">
          <a href="tel:+74957831330">@@include('../images/icon-phone.svg')+7 (495) 783-13-30</a>
        </li>
        <li class="nav-contacts-link">
          <a href="tel:+79265073582">@@include('../images/icon-phone.svg')+7(926) 507-35-82</a>
        </li>
        <li class="nav-contacts-link">
          <a href="mailto:office@japanichiban.ru">@@include('../images/icon-mail.svg')office@japanichiban.ru</a>
        </li>
      </ul>
      <ul class="nav-social col col-md-1">
        <li class="nav-social-link">
          <a href="#">@@include('../images/icon-vk.svg')Vk</a>
        </li>
        <li class="nav-social-link">
          <a href="#">@@include('../images/icon-fb.svg')FaceBook </a>
        </li>
        <li class="nav-social-link">
          <a href="#">@@include('../images/icon-instagram.svg')Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>