<!-- Modal Register -->
<div class="modal fade" id="modal--reg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Зарегистрироваться</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <input class="form-input" type="text" placeholder="Фамилия">
          <input class="form-input" type="text" placeholder="Имя">
          <input class="form-input" type="email" placeholder="E-mail">
          <input class="form-input" type="tel" placeholder="8 (___) ___ - ____">
          <input class="form-input" type="password" placeholder="Пароль">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn">Зарегистрироваться</button>
          <button class="btn btn--white" data-toggle="modal" data-target="#modal--login">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>