<div class="row product-list">
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-1.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исигаки</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-2.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исидай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-3.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Устрицы японские</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-4.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Кинмедай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-1.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исигаки</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-2.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исидай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-3.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Устрицы японские</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-4.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Кинмедай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
</div>

@@include('modal--product.html')