<div class="row product-list">
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-1.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исигаки</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-2.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исидай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-3.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Устрицы японские</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-4.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Кинмедай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-1.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исигаки</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-2.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Исидай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-3.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Устрицы японские</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="product-item">
      <a href="/product" data-toggle="modal" data-target="#modal--product">
        <img class="product-img" src="images/products/product-4.png" alt="Устрицы японские">
      </a>
      <div class="product-body">
        <div class="product-top">
          <div class="product-rating">
            <div class="value" style="width: 80%;"></div>
          </div>
          <span class="product-votes">4 отзыва</span>
        </div>
        <p class="product-category">Морепродукты</p>
        <h5 class="product-name">Кинмедай</h5>
        <div class="product-bottom">
          <p class="product-price">3 300 ₽</p>
          <a href="#" class="btn btn-cart">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal--product fade" id="modal--product" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title"></h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="product-card row">
          <div class="product-card-left col-md-5">
            <div class="product-slider">
              <img src="images/products/устрицы/__1.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__2.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__4.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__5.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__6.jpg" alt="Устрицы японские">
            </div>
            <div class="product-slider-thumb">
              <img src="images/products/устрицы/__1.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__2.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__4.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__5.jpg" alt="Устрицы японские">
              <img src="images/products/устрицы/__6.jpg" alt="Устрицы японские">
            </div>
          </div>
          <div class="product-card-right col-md-7">
            <p class="product-card-category">Морепродукты</p>
            <h5 class="product-card-name">Устрицы японские</h5>
            <div class="d-flex">
              <div class="product-rating">
                <div class="value" style="width: 80%;"></div>
              </div>
              <span class="product-votes">4 отзыва</span>
            </div>
            <p class="product-card-price">3 300 ₽</p>
            <a href="#" class="btn btn-cart">Добавить в корзину</a>
          </div>
          <div class="col-12">
            <p class="product-card-title">Описание</p>
            <p class="product-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies lorem eu cras fringilla at ac, diam sagittis. Ipsum arcu urna lacus, rutrum ut quis fusce scelerisque. Tellus adipiscing et sit turpis fermentum. Viverra nibh nibh sit pulvinar. Egestas cras non eu nunc et dui urna, at. Cras id nam nam a sit. Laoreet euismod libero elit consequat arcu non. Eget sed mi odio vulputate pulvinar quis facilisi felis aliquet. Vitae posuere viverra amet, massa in lacus ultrices elit penatibus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>